---
const { titel, producent, pris, pic = "vin" } = Astro.props;
import Button from "../components/Button.astro";
---

<div class="flex items-center flex-col">
  <div>
    <img
      class="w-[300px]"
      src={`/img/produktbilleder/${pic}_pic-100.webp`}
      alt=""
    />
  </div>
  <div
    class="bg-beige400 pb-space25 flex items-center flex-col w-[300px] lg:pb-space25"
  >
    <h4 class="text-deskH4 font-text mt-space20 font-bold text-grey600">
      {titel}
    </h4>
    <h4 class="text-deskH4 font-text mb-space20 text-grey600">{producent}</h4>
    <h4 class="text-deskH4 font-text font-bold mb-space20 text-black600">
      {pris}
    </h4>
    <Button variant="primary" knapTekst="Tilføj til kurv" kurv={false} />
  </div>
</div>
